<section class="post-info" data-img="{{image}}">
  <h4 class="date">{{date}}</h4>
  <a class="title" href="{{url}}">{{title}}</a>
  <p class="excerpt">{{excerpt words="30"}}&hellip;</p>
  <a class="btn-more" href="{{url}}">READ MORE</a>
</section>
